.side-bar {
  background-color: var(--surface-50);
}
.user {
  width: 80%;
  border-radius: 2px;
}
.user:hover {
  cursor: pointer;
  background-color: var(--surface-100);
}

.icon {
  margin-left: 5px;
  font-size: 12px;
}

.input {
  width: 60%;
}
