.red {
  color: var(--red-300);
}
.orange {
  color: var(--orange-200);
}
.blue {
  color: var(--blue-200);
}
.default {
  color: var(--surface-800);
}

.header {
  width: 295px;
  padding: 1rem 1rem 0 1rem;
  h4 {
    padding: 0;
    margin: 0;
  }
  .header__dropdown {
    margin-top: 10px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 1rem;
}

.button {
  width: auto;
}
.select__items {
  display: flex;
  gap: 5px;
}
.category_filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
