<p-sidebar position="right" styleClass="w-17rem" [(visible)]="sidebarVisible">
  <ng-template pTemplate="header"
    ><div class="header">
      <i [class]="Icons.FILTER"></i>
      <p>Фильтры</p>
    </div></ng-template
  >
  <ng-template pTemplate="content">
    <form class="form" [formGroup]="form">
      <label for="description" class="label">Название:</label>
      <input
        class="filters__select"
        pInputText
        id="description"
        formControlName="description"
        type="text"
        [placeholder]="FilterPlaceholder.INPUT"
      />
      <hr class="solid" />

      <label for="calendarId" class="label">Дата окончания:</label>
      <p-calendar
        inputId="calendarId"
        styleClass="width-100 filters__select"
        [placeholder]="FilterPlaceholder.SELECT"
        formControlName="endDate"
        [showIcon]="true"
        [showClear]="true"
        appendTo="body"
      ></p-calendar>
      <hr class="solid" />

      <span class="label">Приоритет:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        [placeholder]="FilterPlaceholder.SELECT"
        [showClear]="true"
        optionValue="priority"
        optionLabel="title"
        [options]="priorities"
        appendTo="body"
        formControlName="priority"
      >
        <ng-template let-option pTemplate="item">
          <div class="select__items">
            <i [class]="Icons.PRIORITY"></i>
            <div highlightPriority [priority]="option.priority">
              {{ option.title }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>
      <hr class="solid" />

      @if(categories() ; as categories){
      <span class="label">Категория:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        [placeholder]="FilterPlaceholder.SELECT"
        [showClear]="true"
        [options]="categories"
        formControlName="category"
        optionLabel="title"
        optionValue="id"
        appendTo="body"
        [filter]="categories.length >= 5"
      ></p-dropdown>
      }

      <hr class="solid" />

      <span class="label">Статус:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        [placeholder]="FilterPlaceholder.SELECT"
        [showClear]="true"
        [options]="statusItems"
        formControlName="status"
        optionLabel="status"
        optionValue="status"
        appendTo="body"
      ></p-dropdown>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="footer">
      <p-button
        [label]="Label.CLEAR"
        [severity]="Severity.DANGER"
        size="small"
        [outlined]="true"
        (click)="clearFilter()"
      ></p-button>
      <p-button
        [label]="Label.APPLY"
        [severity]="Severity.INFO"
        size="small"
        (click)="applyFilter()"
      ></p-button>
    </div>
  </ng-template>
</p-sidebar>
<p-button
  (click)="sidebarVisible = true"
  [severity]="Severity.SUCCESS"
  [icon]="Icons.FILTER"
  iconPos="right"
  size="small"
  [text]="true"
  [label]="Label.FILTER"
></p-button>
