<p-columnFilter
  #columnF
  display="menu"
  [showOperator]="false"
  [showMatchModes]="false"
  [showAddButton]="false"
  [showClearButton]="false"
  [showApplyButton]="false"
>
  <ng-template pTemplate="header">
    <div class="header">
      <div class="block">
        <p>Фильтровать по</p>

        <p-dropdown
          [style]="{ width: '100%' }"
          (onChange)="field = $event.value"
          [options]="fields"
        >
          <ng-template let-option pTemplate="item">
            {{ option.label }}
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    @if(field === 'description'){
    <input pInputText [(ngModel)]="filter" type="text" />
    } @if(field === 'endDate'){
    <p-calendar [(ngModel)]="filter" [showIcon]="true"></p-calendar>
    } @if(field === 'priority'){
    <p-dropdown
      [options]="priority"
      optionLabel="title"
      optionValue="priority"
      [(ngModel)]="filter"
      [showClear]="true"
      placeholder="Приоритет"
    >
      <ng-template let-priority pTemplate="item">
        <div class="select__items">
          <i class="pi pi-flag"></i>
          <div highlightPriority [priority]="priority.priority">
            {{ priority.title }}
          </div>
        </div>
      </ng-template>
    </p-dropdown>
    }
    <div class="footer">
      <button
        pButton
        label="Очистить"
        class="p-button-outlined button"
        (click)="clearFilter(columnF)"
      ></button>
      <button
        pButton
        label="Применить"
        class="button"
        (click)="applyFilter(columnF)"
      ></button>
    </div>
  </ng-template>
</p-columnFilter>
