<p-sidebar position="right" styleClass="w-17rem" [(visible)]="sidebarVisible">
  <ng-template pTemplate="header"
    ><div class="header">
      <i class="pi pi-filter"></i>
      <p>Фильтры</p>
    </div></ng-template
  >
  <ng-template pTemplate="content">
    <form action="" class="form" [formGroup]="form">
      <label for="description" class="label">Название:</label>
      <input
        class="filters__select"
        pInputText
        id="description"
        formControlName="description"
        type="text"
        placeholder="Введите название"
      />
      <hr class="solid" />

      <label for="calendarId" class="label">Дата окончания:</label>
      <p-calendar
        inputId="calendarId"
        styleClass="width-100 filters__select"
        placeholder="Выбрать"
        formControlName="endDate"
        [showIcon]="true"
        [showClear]="true"
        appendTo="body"
      ></p-calendar>
      <hr class="solid" />

      <span class="label">Приоритет:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        placeholder="Выбрать"
        [showClear]="true"
        optionValue="priority"
        optionLabel="title"
        [options]="priorities"
        appendTo="body"
        formControlName="priority"
      >
        <ng-template let-option pTemplate="item">
          <div class="select__items">
            <i class="pi pi-flag"></i>
            <div highlightPriority [priority]="option.priority">
              {{ option.title }}
            </div>
          </div>
        </ng-template>
      </p-dropdown>
      <hr class="solid" />

      <span class="label">Категория:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        placeholder="Выбрать"
        [showClear]="true"
        [options]="categories() || []"
        formControlName="category"
        optionLabel="title"
        optionValue="id"
        appendTo="body"
      ></p-dropdown>
      <hr class="solid" />

      <span class="label">Статус:</span>
      <p-dropdown
        styleClass="width-100 filters__select"
        placeholder="Выбрать"
        [showClear]="true"
        [options]="statuses"
        formControlName="status"
        optionLabel="status"
        optionValue="status"
        appendTo="body"
      ></p-dropdown>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="footer">
      <p-button
        label="Очистить"
        severity="danger"
        size="small"
        [outlined]="true"
        (click)="clearFilter()"
      ></p-button>
      <p-button
        label="Применить"
        severity="info"
        size="small"
        (click)="applyFilter()"
      ></p-button>
    </div>
  </ng-template>
</p-sidebar>
<p-button
  (click)="sidebarVisible = true"
  severity="success"
  icon="pi pi-filter"
  iconPos="right"
  size="small"
  [text]="true"
  label="Фильтры"
></p-button>
