.header {
  height: 100%;
  h4 {
    padding: 0;
    margin: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block1 {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 10px;
}
.block2 {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 230px;
  gap: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  height: 18px;
  gap: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  i {
    color: var(--green-200);
    font-size: 1rem;
  }
  p {
    color: var(--green-50);
  }
}

.select__items {
  display: flex;
  gap: 5px;
}

.label {
  margin-bottom: 10px;
  font-size: 14px;
}
