@if(items){

<p-tieredMenu #pTired [model]="items" [popup]="true" appendTo="body">
</p-tieredMenu>
<p-menu
  #menu
  class="menu"
  [model]="items"
  appendTo="body"
  [popup]="true"
></p-menu>
<div class="pTired">
  <p-button
    #btn
    (click)="pTired.toggle($event)"
    icon="pi pi-bars"
    [outlined]="true"
    label="Меню"
    severity="info"
    size="small"
  ></p-button>
</div>
<div class="menu">
  <p-button
    #btn
    (click)="menu.toggle($event)"
    icon="pi pi-bars"
    [outlined]="true"
    label="Меню"
    severity="info"
    size="small"
  ></p-button>
</div>

}

<ng-container #ChildAddInsertionPoint></ng-container>
