<div class="wrapper">
  <div class="block">
    <div class="header">
      <p>Добро пожаловать</p>
      @if(title === Title.LOGIN){
      <span>У Вас нет аккаунта?</span>
      <a routerLink="/register">Создай сегодня!</a>
      } @else{
      <span>У Вас есть аккаунт</span>
      <a routerLink="/login">Войти!</a>
      }
    </div>

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email" class="label">Почта</label>
      <input
        id="email"
        type="text"
        placeholder="Введите почту"
        pInputText
        class="input"
        formControlName="email"
      />
      @if(form.controls['email']; as email){
      <div *ngIf="email.errors && email.dirty" class="invalid-feedback">
        <app-error-message [errors]="email.errors"></app-error-message>
      </div>
      }

      <label for="password" class="label">Пароль</label>
      <p-password
        inputId="password"
        placeholder="Введите пароль"
        styleClass="width-100"
        inputStyleClass="width-100"
        class="input"
        [toggleMask]="true"
        [feedback]="false"
        formControlName="password"
      />
      @if(form.controls['password'];as password){
      <div *ngIf="password.invalid && password.dirty" class="invalid-feedback">
        <app-error-message [errors]="password.errors"></app-error-message>
      </div>
      } @if(form.controls['confirmPassword']; as confirmPassword){
      <label for="confirmPassword" class="label">Подтвердите пароль</label>
      <p-password
        inputId="confirmPassword"
        placeholder="Подтвердите пароль"
        styleClass="width-100"
        inputStyleClass="width-100"
        [toggleMask]="true"
        [feedback]="false"
        class="input"
        formControlName="confirmPassword"
      />
      <div
        *ngIf="confirmPassword.invalid && confirmPassword.dirty"
        class="invalid-feedback"
      >
        <app-error-message
          [errors]="confirmPassword.errors"
        ></app-error-message>
      </div>
      }
      <div class="footer">
        <div class="backend-errors" *ngIf="backendError">
          <small *ngIf="backendError">{{ backendError }}</small>
        </div>
        <button
          class="btn"
          pButton
          type="submit"
          [disabled]="
            submitting ||
            (title === Title.REGISTER
              ? form.invalid
              : form.controls['password'].invalid ||
                form.controls['email'].invalid)
          "
          [label]="title === Title.LOGIN ? 'Войти' : 'Зарегистрироваться'"
          icon="pi pi-user"
        ></button>
      </div>
    </form>
  </div>
</div>
