<ng-content></ng-content>
<p-dialog
  header="Добавление задачи"
  [(visible)]="visible"
  [style]="{ width: '60vw' }"
>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <input
      type="text"
      placeholder="Название задачи"
      pInputText
      class="input"
      formControlName="description"
    />
    <div class="footer">
      <p-calendar
        [inputStyle]="{
          width: '11.5rem',
          height: '2rem',
          'margin-right': '10px',
        }"
        placeholder="Дата окончания"
        [showButtonBar]="true"
        appendTo="body"
        icon="pi pi-calendar"
        [showIcon]="true"
        [iconDisplay]="'input'"
        formControlName="date"
      >
      </p-calendar>
      <div class="dropdown">
        <p-dropdown
          placeholder="Приоритет"
          [style]="{
            height: '2rem',
            'align-items': 'center',
            'margin-right': '5px',
            width: '100%'
          }"
          formControlName="selectedPriority"
          appendTo="body"
          optionLabel="title"
          [options]="priorities"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="select__items"
              *ngIf="
                this.form.controls['selectedPriority'].value as selectedPriority
              "
            >
              <i style="width: 18px" class="pi pi-flag"></i>
              <div>{{ selectedPriority.title }}</div>
            </div>
          </ng-template>
          <ng-template let-country pTemplate="item">
            <div class="select__items">
              <i style="width: 18px" class="pi pi-flag"></i>
              <div>{{ country.title }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <button pButton class="button" label="Добавить"></button>
    </div>
  </form>
</p-dialog>
