<p-dialog
  [header]="task ? 'Изменение задачи' : 'Добавление задачи'"
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <input
      type="text"
      placeholder="Название задачи"
      pInputText
      class="input"
      formControlName="description"
    />
    <div class="footer">
      <div class="calendar">
        <p-calendar
          [inputStyle]="{
          width: '100%',
          height: '2rem',
          
        }"
          placeholder="Дата окончания"
          [showButtonBar]="true"
          appendTo="body"
          icon="pi pi-calendar"
          [showIcon]="true"
          [iconDisplay]="'input'"
          formControlName="date"
        >
        </p-calendar>
      </div>

      <div class="dropdown">
        <p-dropdown
          placeholder="Приоритет"
          [style]="{
            height: '2rem',
            'align-items': 'center',
            width: '100%'
          }"
          formControlName="selectedPriority"
          appendTo="body"
          optionLabel="priority"
          [options]="priorities"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="select__items"
              *ngIf="
                this.form.controls['selectedPriority'].value as selectedPriority
              "
            >
              <i style="width: 18px" class="pi pi-flag"></i>
              <div>{{ selectedPriority.title }}</div>
            </div>
          </ng-template>
          <ng-template let-priority pTemplate="item">
            <div class="select__items">
              <i style="width: 18px" class="pi pi-flag"></i>
              <div>{{ priority.title }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <button
        pButton
        class="button"
        [label]="task ? 'Изменить' : 'Добавить'"
      ></button>
    </div>
  </form>
</p-dialog>
