.block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 70%;
  min-width: 20rem;
}
.table__description {
  display: flex;
  flex-direction: column;
}

.date {
  margin-left: 5px;
  font-size: 10px;
  opacity: 0.7;
}
.table {
  text-align: center;
}

.table__status {
  text-align: center;
}
.table__category {
  width: 70%;
  color: var(--yellow-200);
}
