.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 85%;

  .table__filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 14px;
    }
  }

  .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .table__description {
    p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 376px) {
  .table {
    width: 90%;
  }
}
