.red {
  color: var(--red-300);
}
.orange {
  color: var(--orange-200);
}
.blue {
  color: var(--blue-200);
}
.default {
  color: var(--surface-800);
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 70%;
  min-width: 20rem;
}

.table__col {
  text-align: center;
}

.table__status {
  text-align: center;
}

.table__description {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.table__category_create {
  margin: 5px 0 20px 0;
}

.table__description_date {
  margin-left: 5px;
  font-size: 10px;
  opacity: 0.7;
}
