<div class="block">
  <div class="card" *ngIf="tasks() as tasks">
    <ng-container *ngIf="categories()">
      @for (category of categories() ;track category){
      <p-table
        [value]="tasksByCategories(category, tasks)"
        [tableStyle]="{
        'min-width': '20rem',
        'margin-top': '20px',
      }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="table__category">{{ category.title }}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
          <tr>
            <td>
              <div class="table__description">
                {{ task.description }}
                <small class="date" title="Время окончания задачи">{{
                  task.endDate | date : "d MMMM y"
                }}</small>
              </div>
            </td>

            <td class="table__status">
              <p-tag
                [style]="{ width: '7rem' }"
                [value]="task.status"
                [severity]="getSeverity(task.status)"
                [icon]="
                  task.status === 'Ожидает' ? 'pi pi-check' : 'pi pi-times'
                "
              ></p-tag>
            </td>
            <td>
              <p-button
                [text]="true"
                size="small"
                icon="pi pi-pencil"
                (click)="generateTodoEditComponent(task)"
              ></p-button>
            </td>
            <td>
              <p-button
                [text]="true"
                size="small"
                icon="pi pi-times"
              ></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button
            label="Добавить задачу"
            icon="pi pi-plus"
            [text]="true"
            size="small"
            (click)="generateTodoAddComponent(category.id)"
          ></p-button>
        </ng-template>
      </p-table>
      }

      <ng-container #ChildInsertionPoint></ng-container>
    </ng-container>
  </div>
</div>
