<ng-container #DelCategoryInsertionPoint></ng-container>
@if(!category.title?.length && taskId ){

<p-button
  label="Добавить категорию"
  icon="pi pi-plus"
  [text]="true"
  size="small"
  (click)="active = true"
></p-button>

} @if(category.title && !active){

<div class="header">
  <div class="header__title">
    <small> {{ category.title }}</small>
  </div>

  <div class="header__menu">
    <p-confirmPopup></p-confirmPopup>
    <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    <p-button
      (click)="menu.toggle($event)"
      icon="pi pi-ellipsis-h "
      [text]="true"
      severity="danger "
      size="small"
    ></p-button>
  </div>
</div>

}
<div>
  <p-dialog
    [header]="category.title ? 'Изменение категории' : 'Добавление категории'"
    [(visible)]="active"
  >
    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        @if(!category.title){
        <input
          trimOnBlur
          class="input"
          formControlName="title"
          type="text"
          pInputText
        />
        } @if(categories && category.title){
        {{ this.form.controls["title"].value }}
        <!-- <p-dropdown
          [options]="categories"
          formControlName="title"
          optionValue="title"
          placeholder="Категория"
          [editable]="false"
          appendTo="body"
        >
          <ng-template let-categoryTitle pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="categoryTitle">
              <div>{{ categoryTitle }}</div>
            </div>
          </ng-template>
          <ng-template let-category pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ category.title }}</div>
            </div>
          </ng-template>
        </p-dropdown> -->

        <p-autoComplete
          formControlName="title"
          [dropdown]="true"
          [suggestions]="filteredCategories!"
          (completeMethod)="filterCountry($event)"
        >
          <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ country }}</div>
            </div>
          </ng-template>
        </p-autoComplete>

        }
        <div class="footer">
          <div class="footer__setAll">
            <p-checkbox
              [binary]="true"
              inputId="ny"
              formControlName="setAll"
            ></p-checkbox>
            <label for="ny">{{
              category.title
                ? "Изменить только эту задачу"
                : "Добавить ко всем задачам без категории"
            }}</label>
          </div>
          <div class="footer__buttons">
            <p-button
              [style]="{ 'margin-right': '10px' }"
              type="submit"
              size="small"
              [label]="category.title ? 'Сохранить' : 'Добавить'"
              severity="danger"
              [plain]="true"
              [disabled]="this.form.invalid"
            ></p-button>
            <p-button
              (click)="active = false"
              size="small"
              label="Отмена"
              [text]="true"
              [plain]="true"
            ></p-button>
          </div>
        </div>
      </form>
    </ng-template>
  </p-dialog>
</div>
