<ng-container #DelCategoryInsertionPoint></ng-container>
@if(!category.title?.length && !active){
<div class="category_add">
  <div class="block">
    <h3 class="title-side title-side-center" (click)="active = true">
      Добавить категорию
    </h3>
  </div>
</div>
} @if(category.title && !active){

<div class="header">
  <div class="header__title">
    <span> {{ category.title }}</span>
  </div>

  <div class="header__menu">
    <p-confirmPopup></p-confirmPopup>
    <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    <p-button
      (click)="menu.toggle($event)"
      icon="pi pi-ellipsis-h "
      [text]="true"
      severity="danger "
      size="small"
    ></p-button>
  </div>
</div>

}
<div [ngClass]="categories?.length ? '' : 'inplace'">
  <p-inplace [hidden]="!active" [active]="active">
    <ng-template pTemplate="content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input
          trimOnBlur
          class="input"
          formControlName="title"
          type="text"
          pInputText
        />
        <p-button
          [style]="{ 'margin-right': '10px' }"
          type="submit"
          size="small"
          [label]="category.title ? 'Сохранить' : 'Добавить'"
          severity="danger"
          [plain]="true"
          [disabled]="this.form.invalid"
        ></p-button>
        <p-button
          (click)="active = false"
          size="small"
          label="Отмена"
          [text]="true"
          [plain]="true"
        ></p-button>
      </form>
    </ng-template>
  </p-inplace>
</div>
