.category {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  .footer__buttons {
    margin: 15px 0 0 auto;
  }
  .footer_button {
    margin-right: 10px;
  }
}

.footer__setAll {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-top: 10px;

  label {
    font-size: 14px;
  }
}

.input {
  height: 42.17px;
  margin-bottom: 10px;
  width: 100%;
}
