.select__items {
  display: flex;
  align-items: center;
  gap: 6px;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .input {
    margin-bottom: 0.75rem;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .calendar {
      margin-right: 15px;
    }

    .dropdown {
      margin-right: 15px;
      min-width: 190px;
    }
  }
  .button {
    margin-left: auto;
    margin-top: 10px;
    height: 2rem;
  }
}

@media screen and (max-width: 840px) {
  .form {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .calendar {
        margin: 0 0 0.75rem 0;
      }

      .dropdown {
        margin: 0 0 0.75rem 0;
      }
    }
  }
}
