<p-dialog
  [header]="task ? 'Изменение задачи' : 'Добавление задачи'"
  [(visible)]="visible"
>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <input
      type="text"
      placeholder="Название задачи"
      pInputText
      class="input"
      formControlName="description"
      trimOnBlur
    />
    <div class="footer">
      <div class="calendar">
        <p-calendar
          [style]="{
            width: '100%',
          }"
          [minDate]="minDate"
          placeholder="Дата окончания"
          [showButtonBar]="true"
          appendTo="body"
          dateFormat="dd.mm.yy"
          icon="pi pi-calendar"
          [showIcon]="true"
          formControlName="endDate"
        >
        </p-calendar>
      </div>

      <div class="dropdown">
        <p-dropdown
          placeholder="Приоритет"
          place
          [style]="{
            width: '100%',
          }"
          formControlName="priority"
          appendTo="body"
          optionLabel="title"
          [options]="priorities"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="select__items"
              *ngIf="this.form.controls['priority'].value as selectedPriority"
            >
              <i class="pi pi-flag"></i>
              <div>{{ selectedPriority.title }}</div>
            </div>
          </ng-template>
          <ng-template let-priority pTemplate="item">
            <div class="select__items">
              <i class="pi pi-flag"></i>
              <div>{{ priority.title }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <p-dropdown
          [style]="{
            width: '300px',
          }"
          [options]="categories ? categories : undefined"
          formControlName="category"
          optionLabel="title"
          optionValue="id"
          appendTo="body"
          [filter]="categories ? categories.length >= 5 : false"
          [showClear]="true"
          placeholder="Категория"
        >
        </p-dropdown>
      </div>
    </div>
    <button
      pButton
      class="button"
      [label]="task ? 'Изменить' : 'Добавить'"
      [disabled]="form.invalid"
    ></button>
  </form>
</p-dialog>
