<p-dialog
  [header]="task ? 'Изменение задачи' : 'Добавление задачи'"
  [(visible)]="visible"
>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <input
      type="text"
      placeholder="Название задачи"
      pInputText
      class="input"
      formControlName="description"
      trimOnBlur
    />
    <div class="footer">
      <div class="calendar">
        <p-calendar
          [minDate]="minDate"
          placeholder="Дата окончания"
          [showButtonBar]="true"
          appendTo="body"
          icon="pi pi-calendar"
          [showIcon]="true"
          [iconDisplay]="'input'"
          formControlName="endDate"
        >
        </p-calendar>
      </div>

      <div class="dropdown">
        <p-dropdown
          placeholder="Приоритет"
          [style]="{
            width: '100%'
          }"
          formControlName="priority"
          appendTo="body"
          optionValue="priority"
          optionLabel="title"
          [options]="priorities"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="select__items"
              *ngIf="this.form.controls['priority'].value as selectedPriority"
            >
              <i class="pi pi-flag"></i>
              <div>{{ selectedPriority.title }}</div>
            </div>
          </ng-template>
          <ng-template let-priority pTemplate="item">
            <div class="select__items">
              <i class="pi pi-flag"></i>
              <div>{{ priority.title }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="dropdown">
        <!-- <p-dropdown
          [options]=""
          optionLabel="title"
          placeholder="Select a City"
          appendTo="body"
        ></p-dropdown> -->
        <p-dropdown
          [options]="categories ? categories : undefined"
          formControlName="category"
          optionLabel="title"
          optionValue="id"
          appendTo="body"
          [filter]="true"
          filterBy="title"
          [showClear]="true"
          placeholder="Категория"
        >
          <ng-template let-category pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="category">
              <div>{{ category.title }}</div>
            </div>
          </ng-template>
          <ng-template let-category pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ category.title }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <button
        pButton
        class="button"
        [label]="task ? 'Изменить' : 'Добавить'"
        [disabled]="form.invalid"
      ></button>
    </div>
  </form>
</p-dialog>
