<p-dialog [header]="header" [(visible)]="visible" [modal]="true">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form">
    <input
      type="text"
      [placeholder]="Placeholder.DESCRIPTION"
      pInputText
      class="input"
      formControlName="description"
      trimOnBlur
    />
    <div class="footer">
      <div class="calendar">
        <p-calendar
          styleClass="width-100"
          [minDate]="minDate"
          [placeholder]="Placeholder.END_DATE"
          [showButtonBar]="true"
          appendTo="body"
          dateFormat="dd.mm.yy"
          [icon]="Icons.DATE"
          [showIcon]="true"
          formControlName="endDate"
        >
        </p-calendar>
      </div>

      <div class="dropdown">
        <p-dropdown
          [placeholder]="Placeholder.PRIORITY"
          styleClass="width-100"
          formControlName="priority"
          appendTo="body"
          optionLabel="title"
          [options]="priorities"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="select__items"
              *ngIf="this.form.controls['priority'].value as selectedPriority"
              highlightPriority
              [priority]="selectedPriority.priority"
            >
              <i [class]="Icons.PRIORITY"></i>
              <div>
                {{ selectedPriority.title }}
              </div>
            </div>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <div
              highlightPriority
              [priority]="option.priority"
              class="select__items"
            >
              <i [class]="Icons.PRIORITY"></i>
              <div>
                {{ option.title }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div>
        <p-dropdown
          [style]="{
            width: '300px',
          }"
          [options]="categories ? categories : undefined"
          formControlName="category"
          optionLabel="title"
          optionValue="id"
          appendTo="body"
          [filter]="categories ? categories.length >= 5 : false"
          [showClear]="true"
          [placeholder]="Placeholder.CATEGORY"
        >
        </p-dropdown>
      </div>
    </div>
    <button
      pButton
      class="button"
      [label]="label"
      [disabled]="form.invalid"
    ></button>
  </form>
</p-dialog>
