@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  margin: 0;
  padding: 0;
  background: var(--surface-50);
  width: 100%;
  height: 100dvh;
}
.red {
  color: var(--red-300);
}
.orange {
  color: var(--orange-200);
}
.blue {
  color: var(--blue-200);
}
.default {
  color: var(--surface-800);
}

.width-100 {
  width: 100%;
}
