@if(currentUser$ | async;as currentUser){
<div class="wrapper">
  <p-menubar>
    <ng-template pTemplate="end">
      <p-menu #menu [model]="items" [popup]="true"> </p-menu>
      <div class="user" (click)="menu.toggle($event)">
        <p-avatar
          [label]="currentUser.email[0]"
          class="avatar"
          size="large"
          shape="circle"
        ></p-avatar>
        <div class="username">
          <span>{{ currentUser.email.slice(0, 18) }}</span>
          <i [class]="Icons.CHEVRON_DOWN"></i>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>

}
